body{
    margin: 0;
    background-color: #282D35;
    color: white;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #21222A;
    height: 91px;
    padding: 10px;
}

nav{
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img{
    margin-right: 10px;
}

nav>h1{
    color: #61DAFB;
    font-size: 22.25px;
    font-weight: 700;
}

main{
    padding: 60px 30px;
    background-image: url('./react-logo-half.png');
    background-repeat: no-repeat;
    background-position: right 90%;
}

main > h1{
    margin: 0;
    font-size: 2.4rem;
}

ul{
    margin-top: 46px;
    max-width: 400px;
}

ul > li {
    padding-block: 10px;
    line-height: 19px;
}

ul > li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}